
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('../../assets/marathon-main.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;   
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 3.5 rem;
    margin-bottom: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1.2;
}

.countdown {
    display: flex;
    justify-content:center;
    gap: 15px;
    margin: 25px 0;
}

.time-box {
    background: rgba(255,69,0,0.85);
    padding: 10px;
    border-radius: 8px;
    min-width: bold;
}

.time-box span {
    display: block;
    font-size: 1.8rem;
}

.hero-content p {
    font-size: 1.2 rem;
    margin-bottom: 30px;
    max-width: 600px;
    opacity: 0.9;
}

.hero-btn {
    background-color: #ff4500;
    color: white;
    padding: 15px 40px;
    font-size: 1.1 rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-btn:hover {
    background-color: #e63e00;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255,69,0,0.4);
}

@media (max-width: 1024px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }
    .hero-content p {
        font-size: 1rem;
        /*padding: 0 10px;*/
    }

    .countdown {
        gap: 8px;
    }

    .time-box {
        min-width: 60px;
        padding: 8px;
    }

    .time-box span {
        font-size: 1.5rem;
    }
    /*.hero {
        height: 60vh;
    }*/
}

@media (max-width: 600px) {
    .hero {
        height: auto;
        padding: 100px 20px;
    }
    .hero-content h1 {
        font-size: 1.8rem;
    }
    .countdown {
        flex-wrap: wrap;
    }
}
