.gallery-section {
    padding: 80px 20px;
    background-color: #fcfcfc;;
}
.gallery-section .container {
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-section .section-title {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 40px;
    color:#333;
    font-weight: 800;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 20px;
    padding: 20px 0;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    border-radius: 12px;
}
.gallery-item:hover img {
    transform: scale(1.1);
}
.gallery-item.large,
.gallery-item.wide {
    grid-row: span 1!important;;
    grid-column: span 1 !important;
}
 
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 69,0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.gallery-item:hover .overlay {
    opacity: 1;
}
.overlay span {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 30px;
}
:root {
    --yarl__container_background_color: rgba(45,52,54,0.85);
}
.yarl__container {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.yarl__button {
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
    color: #ffffff;
}

@media (max-width: 900px){
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .gallery-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
    }
    .gallery-item.large, .gallery-item.wide {
        grid-column: span 1;
        grid-row: span 1;
    }
}